@import '../../../sass/color.sass'
@import '../../../sass/var.sass'
p
    margin: 0
    padding: 0

.header
    border-top: 5px solid $accent-color
    background: $primary-color-dark
    height: 4.5*$cube
    display: flex
    justify-content: space-between
    align-items: center
    .logo
        p
            font-weight: bold
            font-size: 2.5*$cube
            font-family: sans-serif
            color: $primary-color-text
            padding-left: 5*$cube
            padding-top: 0
            padding-bottom: 0
            margin: 0
            span
                color: $accent-color
    .menu
        margin-right: $cube
        background: $primary-color-darker
        display: flex
        justify-content: space-between
        box-shadow: 1px 1px 4px black inset

        

        .menuitem
            padding: $cube - 0.2
            color: $primary-color-text
            font-family: sans-serif
            height: 95%
        .selected
            background: $accent-color
            border-radius: 5px