<div class="personDetails mat-elevation-z5">
        <div class="picture">
            <img  [src]="person$.imageSrc" alt="">
        </div>
        <div class="details">
            <div class="name">
                {{person$.nachname}}, {{person$.vorname}}
            </div>
            <div class="dates">
                <span *ngIf="person$.gebName">geb. {{person$.gebName}}<br></span>
                <span class="keyword">geboren: </span>{{gebDateString}}<br>
                <span class= keyword *ngIf="person$.sterbDatum">gestorben:</span><span *ngIf="person$.sterbDatum != null">{{sterbDateString}}</span>
            </div>
        <div class="adress">
          <span *ngIf="person$.adress1">{{person$.adress1}}<br></span>
          <span *ngIf="person$.adress2">{{person$.adress2}}</span>   
        </div>
        <div class="partner">
            <span class="keyword" *ngIf="person$.married && person$.partner != ''">verheiratet mit</span><span class="partnername" [ngClass]="{'clickable' : haspartner}" *ngIf="person$.married && person$.partner != ''" (click)="onClickPartner(person$.partner)"> {{person$.partner}}</span>
            <span class="keyword" *ngIf="!person$.married && person$.partner != ''">zusammen  mit</span><span class="partnername" [ngClass]="{'clickable' : haspartner}" *ngIf="!person$.married && person$.partner != ''" (click)="onClickPartner(person$.partner)"> {{person$.partner}}</span>
        </div>
        </div>
    </div>
