<div class="personDetails">
        <div class="picture">
            <img  [src]="person$.imageSrc" alt="">
        </div>
        <div class="details">
        <p class="Name">{{person$.nachname}}, {{person$.vorname}} <br>
            <span>geboren: </span>{{gebDateString}}<br>
            <span *ngIf="person$.sterbDatum">gestorben: {{sterbDateString}}</span>
        </p>
        <p>
            <span class="keyword" *ngIf="person$.partnerKind === 1">verheiratet </span><span *ngIf="person$.partnerKind === 1">mit {{person$.partner}}</span>
            <span class="keyword" *ngIf="person$.partnerKind === 2">zusammen  </span><span *ngIf="person$.partnerKind === 2">mit {{person$.partner}}</span>
        </p>
        </div>
    </div>
