@import '../../../../sass/color.sass'
@import '../../../../sass/var.sass'
p
    margin: 0
    padding: 0.5*$cube

.personDetails
    width: 95%
    border-bottom: 0.3*$cube solid $accent-color
    background: $primary-color-text
    margin-top: 0.5*$cube
    margin-bottom: 0.5*$cube
    height: 15*$cube
    display: flex
    align-content: center


    .picture
        position: relative
        top: 0
        left: 0
        img
            height: 15*$cube
    
    .details
        padding-left: $cube
        margin-top: auto
        margin-bottom: auto
        magrin-right: 10%
        font-family: sans-serif
        font-size: 1*$cube

        .name
            font-weight: bolder
            font-size: 1.5*$cube
        
        .dates
            color: $primary-text-color
            .keyword
                color: $divider-color
                font-weight: bold
        
        .adress
            margin-top: $cube
        
        .partner
            color: $divider-color
            margin-top: $cube
            cursor: pointer
            .keyword
                font-weight: bold


        p
            color: $primary-text-color

            span
                font-weight: normal
            .keyword
                font-weight: bold