@import '../../../../sass/color.sass'
@import '../../../../sass/var.sass'
p
    margin: 0
    padding: 0.5*$cube

.personDetailsLittle
    width: 98%
    background: $primary-color-text
    border-radius: 0.5*$cube
    margin: $cube
    height: 6*$cube
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    margin-left: 1%
    margin-right: 1%
    .colum
        text-align: center
        font-family: sans-serif
        color: $primary-text-color

        img
            height: 5*$cube
            border-radius: 0.5*$cube
    
