<div class="personDetailsLittle">
    <div class="colum id"><div>{{pPerson$.id}}</div></div>
    <div class="colum picture"><div><img [src]=pPerson$.imageSrc alt=""></div></div>
    <div class="colum"><div>{{pPerson$.nachname}}<br><span *ngIf="pPerson$.gebName">geb. {{pPerson$.gebName}}</span></div></div>
    <div class="colum"><div>{{pPerson$.vorname}}</div></div>
    <div class="colum"><div>{{this.gebDateString}}</div></div>
    <div class="colum"><div>{{pPerson$.sterbDatum}}</div></div>
    <div *ngIf="!pPerson$.male" class="colum"><div>weiblich</div></div>
    <div *ngIf="pPerson$.male" class="colum"><div>männlich</div></div>
    <div class="colum">
        <div>
            <span *ngIf="pPerson$.adress1">
                {{pPerson$.adress1}}<br>
            </span>
            <span *ngIf="pPerson$.adress2">
                {{pPerson$.adress2}}<br>
            </span>
        </div>
    </div>
    <div class="colum"><div>{{pPerson$.partner}}</div></div>
    <div class="colum">
        <div class="actions">
            <div id="edit">B</div>
            <div (click)="clickShowPerson(pPerson$.id)" id="show">A</div>
            <div id="delete">D</div>
        </div>
</div>
