<div class="personDetailsLittle">
    <div class="colum id"><div>{{pPerson$.id}}</div></div>
    <div class="colum picture"><div><img [src]=pPerson$.imageSrc alt=""></div></div>
    <div class="colum"><div>{{pPerson$.nachname}}<br>{{pPerson$.gebname}}</div></div>
    <div class="colum"><div>{{pPerson$.vorname}}</div></div>
    <div class="colum"><div>{{this.gebDateString}}</div></div>
    <div class="colum"><div>{{pPerson$.sterbDatum}}</div></div>
    <div *ngIf="pPerson$.sex == 'w'" class="colum"><div>weiblich</div></div>
    <div *ngIf="pPerson$.sex == 'm'" class="colum"><div>männlich</div></div>
    <div class="colum"><div>{{pPerson$.adress}}</div></div>
    <div class="colum"><div>{{pPerson$.partner}}</div></div>
    <div class="colum">
        <div class="actions">
            <div id="edit">B</div>
            <div (click)="clickShowPerson(pPerson$.id)" id="show">A</div>
            <div id="delete">D</div>
        </div>
</div>
