<div class="searchbar">
    <input type="text" [(ngModel)]="this.searchTextEvent" placeholder="Nach Event suchen..." (keyup)="onChangeSearchField()">
</div>
<div class="tablehead">
    <div (click)="clickSortArray('datum')" class="colum">Datum</div>
    <div (click)="clickSortArray('id')"  class="colum">ID</div>
    <div (click)="clickSortArray('label')"  class="colum">Text</div>
    <div class="colum">Aktionen</div>

</div>
<div class="eventlist">
        <app-event [pLifeEvent$]="event"  *ngFor="let event of this.searchedEventList" (editEvent)="onEditEvent($event)"></app-event>
</div>

<button mat-fab aria-label="Example icon-button with a heart icon" (click)="onClickPlusButton()" class="fab" mat-fab color="primary" >
    <mat-icon>person_add</mat-icon>
</button>