<div class="event">
    <div class="colums">
        <div class="colum">
            <div>
                <p>
                    <span>
                        {{lifeEvent$.datum.getDate()}}.
                        {{selectedMonth}}<br>
                    </span>
                    {{lifeEvent$.datum.getFullYear()}}<br>
                </p>
            </div>
        </div>
        <div class="colum"><div>{{lifeEvent$.id}}</div></div>
        <div class="colum"><div>{{lifeEvent$.label}}</div></div>
        <div class="colum">
            <div class="actions">
                <div class="action" (click)=onEditEventButton(lifeEvent$.id) id="edit"><mat-icon color="primary">edit</mat-icon></div>
                <div class="action" id="delete"><mat-icon color="primary">delete_sweep</mat-icon></div>
            </div>
        </div>
    </div>
    <div class="persons">
        <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" selected *ngFor="let person of personsOfEvent">{{person.vorname}} {{person.nachname}}</mat-chip>
        </mat-chip-list>
        
    </div> 
</div>