@import '../../../../sass/color.sass'
@import '../../../../sass/var.sass'
p
    margin: 0
    padding: 0.5*$cube

.personDetailsLittle
    width: 100%
    border-bottom: 0.3*$cube solid $accent-color
    background: $primary-color-text
    margin-top: 0.5*$cube
    margin-bottom: 0.5*$cube
    height: 6*$cube
    display: flex
    align-content: center

    .picture
        position: relative
        top: 0
        left: 0
        img
            height: 6*$cube
            
    
    .details
        padding-left: $cube
        margin-top: auto
        margin-bottom: auto
        margin-right: 8%

        p
            font-family: sans-serif
            font-size: 1*$cube
            color: $primary-text-color

            span
                font-weight: bold