<div class="personshower">
    <div class="parents">
        <app-template-person-linked></app-template-person-linked>
        <app-template-person-linked></app-template-person-linked>
    </div>
    <div class="selectedperson">
        <app-template-person-details></app-template-person-details>
    </div>
    <div class="childs">
        <app-template-person-linked></app-template-person-linked>
        <app-template-person-linked></app-template-person-linked>
    </div>       
</div>
<div class="h1">
    <p>Person und Beziehungen</p>    
</div>


