<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>genalogic</title>
</head>
<body>
  <app-template-header></app-template-header>
  <div class="content">
    <app-template-personshower [selectedPersonId]="this.selectedPersonId"></app-template-personshower>
    <app-template-event-list [selectedPersonId]="this.selectedPersonId"></app-template-event-list>
  </div>
  <app-template-footer></app-template-footer>
</body>
</html>