@import '../sass/color.sass'
@import '../sass/var.sass'
    
.site
    display: grid
    height: 100vh
    grid-template-rows: 4.5*$cube auto 3*$cube
    .title
        height: 100%
    .content
        overflow: scroll
    .credits
        height: 100%

.blur 
    filter: blur(10px)

.error
    color: red
    font-size: 1*$cube
    margin-top: $cube

.loading
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: $divider-color
    color: $primary-color-text
    font-family: sans-serif
    display: flex
    justify-content: center
    .loadingScreen
        width: 50%
        height: 30%
        margin: auto
        background: $primary-color-dark
        padding: $cube $cube $cube $cube
        .infos
            margin: 2*$cube 0 0 0
            .loaded-data
                margin-top: 0.5*$cube
        h1
            margin: auto
            span
                color: $accent-color

