<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>genalogic</title>
</head>
<body>
  <div class="site" [class.blur]="this.showOverlay != 0">
    <div class="title">
      <app-template-header [selectedMenu]="this.selectedMenu" (changeMenu)=onChangeMenu($event)></app-template-header>
    </div>
    <div class="content">
      <app-view-person-overview *ngIf="this.selectedMenu == 1" (changeSelectedPerson)="onChangeSelectedPerson($event)"  [(selectedPersonId)]="this.selectedPersonId"></app-view-person-overview>
      <app-view-person-list [searchText]="this.searchTextPerson" *ngIf="this.selectedMenu == 2" (changeSearchText)=onChangeSearchTextPerson($event) (showPerson)=onShowPerson($event) (editPerson)=onEditPerson($event)></app-view-person-list>
      <app-view-event-list [searchTextEvent]="this.searchTextEvent"  *ngIf="this.selectedMenu == 3" (editEvent)="onEditEvent($event)" (changeSearchText)=onChangeSearchTextEvent($event)></app-view-event-list>
    </div>
    <div class="credits">
      <app-template-footer></app-template-footer>
    </div>
  </div>
  <app-editor-person *ngIf="this.showOverlay == 1" [personId]="this.editPersonId" (closePersonEditor)="onClosePersonEditor($event)"></app-editor-person>
  <app-editor-event *ngIf="this.showOverlay == 2" [eventId]="this.editEventId" (closePersonEditor)="onCloseEventEditor($event)"></app-editor-event>
</body>
</html>