<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>genalogic</title>
</head>
<body>
  <app-template-header [selectedMenu]="this.selectedMenu" (changeMenu)=onChangeMenu($event)></app-template-header>
  <div class="content">
    <app-view-person-overview *ngIf="this.selectedMenu == 1" (changeSelectedPerson)=onChangeSelectedPerson($event) [(selectedPersonId)]="this.selectedPersonId"></app-view-person-overview>
    <app-view-person-list [searchText]="this.searchText" *ngIf="this.selectedMenu == 2" (changeSearchText)=onChangeSearchText($event)></app-view-person-list>
    <app-view-event-list *ngIf="this.selectedMenu == 3"></app-view-event-list>
  </div>
  <app-template-footer></app-template-footer>
</body>
</html>