@import '../../../../sass/color.sass'
@import '../../../../sass/var.sass'

.tablehead
    background: $primary-color-dark
    margin: 0
    padding: 0

.personlist
    background: $primary-color
    padding-right: 2*$cube
    padding-top: 2*$cube
    padding-bottom: 2*$cube