@import '../../../../sass/color.sass'
@import '../../../../sass/var.sass'

.searchfield
    background: $primary-color-dark
    height: 3*$cube
    width: 100%
    padding: 3px 6px 3px 1%
    input
        width: 35%
        background: $primary-color-darker
        color: $primary-color-text
        font-family: sans-serif
        height: 1.5*$cube
        border: none
        font-size: $cube
        padding: 6px 6px 6px 6px
        

.tablehead
    background: $primary-color-dark
    margin-top: 0
    padding: 0 1% 0 1%
    display: grid
    width: 100%
    height: 2*$cube
    grid-template-columns: 1fr 1fr 3fr 3fr 3fr 3fr 1fr 2fr 2fr 2fr
    .colum
        text-align: center
        font-family: sans-serif
        color: $primary-color-text
        

.personlist
    background: $primary-color
    padding-top: 1*$cube
    padding-bottom: 2*$cube

.newPerson
    border-radius: 50%
    background: $accent-color
    color: $primary-color-text
    font-family: sans-serif
    position: absolute
    right: 2*$cube
    bottom: 5*$cube
    width: 3*$cube
    height: 3*$cube
    display: flex
    box-shadow: 11px 9px 30px 10px rgba(0,0,0,0.64)
    z-index: 2
    align-items: center
    justify-content: center
    .plus
        font-size: 2*$cube
        font-weight: bolder