<div class="event">
    <div class="date">
        <p>
            <span>
                {{lifeEvent$.datum.getDate()}}.
                {{selectedMonth}}<br>
            </span>
            {{lifeEvent$.datum.getFullYear()}}<br>
        </p>
    </div>
    <div class="label">
        {{lifeEvent$.label}}
        <div class="persons">
            <div class="person" *ngFor="let person of personsOfEvent" (click)="showSelectedPerson(person.id)">{{person.vorname}} {{person.nachname}}</div>
        </div>
    </div>
    
    
</div>