<div class="event mat-elevation-z5">
    <div class="date">
        <div class="monthAndDay">
            {{lifeEvent$.datum.getDate()}}.
            {{selectedMonth}}
        </div>
        <div class="year">
            {{lifeEvent$.datum.getFullYear()}}
        </div>
    </div>
    <div class="content">
        {{lifeEvent$.label}}
        <div class="persons">
            <mat-chip-list aria-label="Fish selection">
                <mat-chip class="mat-elevation-z6" color="primary" selected *ngFor="let person of personsOfEvent" (click)="showSelectedPerson(person.id)">{{person.name}} {{person.lastName}}</mat-chip>
            </mat-chip-list>
        </div>
    </div>
    
    
</div>