<div class="blur">
    <form novalidate (ngSubmit)="onClickSaveButton()">
        <div class="editorcontent">
            <div class="head">
                <h1 *ngIf="this.selected.id == 0">neue Person</h1>
                <h1 *ngIf="this.selected.id != 0">Person bearbeiten: {{this.selected.vorname}} {{this.selected.nachname}} </h1>
            </div>
            <div class="formular">
                <div class="input-group">
                    <label for="vornamename">Vorname*</label>
                    <input type="text" [(ngModel)]="this.selected.vorname" id="vorname" name="vornamename">
                </div>
                <div class="input-group">
                    <label for="nachname">Nachname*</label>
                    <input type="text" [(ngModel)]="this.selected.nachname"  id="nachname" name="nachname">
                </div>
                <div class="input-group">
                    <label for="gebname">Geburtsname</label>
                    <input type="text" [(ngModel)]="this.selected.gebName"  id="gebname" name="gebname">
                </div>
                <div class="input-group">
                    <label>Geschlecht</label>
                    <label for="male">Männlich</label><br>
                    <input (click)="onChangeGenderButton('male')"  type="radio" [checked]="this.selected.male" id="male" name="gender" value="male">
                    <label for="female">weiblich</label><br>
                    <input (click)="onChangeGenderButton('female')"  [checked]="!this.selected.male" type="radio" id="female" name="gender" value="female"> 
                </div>
                <div class="input-group">
                    <label for="gebdatum">Geburtstag*</label>
                    <input type="date" [ngModel]="this.selected.gebDatum | date:'yyyy-MM-dd'" (ngModelChange)="onChangeGebDate($event)"   id="gebdatum" name="gebdatum">
                </div>
                <div class="input-group">
                    <label for="sterbdatum">Sterbetag:</label>
                    <input type="date" [ngModel]="this.selected.sterbDatum | date:'yyyy-MM-dd'" (ngModelChange)="onChangeSterbDate($event)" id="sterbdatum" name="sterbdatum">
                </div>
                <div class="input-group">
                    <label for="Adresse1">Adresse 1:</label>
                    <input type="text" [(ngModel)]="this.selected.adress1"  id="Adresse1" name="Adresse1">
                </div>
                <div class="input-group">
                    <label for="Adresse2">Adresse 2:</label>
                    <input type="text" [(ngModel)]="this.selected.adress2"  id="Adresse2" name="Adresse2">
                </div>
                <div class="input-group">
                    <label for="partnerSelect">Aktueller Lebenspartner</label>
                    <select name="partnerSelect" [(ngModel)]="this.selected.partnerId" (change)="onChangeSelectPartner()">
                        <option value="0">-----kein----</option>
                        <option *ngFor="let p of this.partnerList" [value]="p.id" [selected]="this.selected.partnerId == p.id">{{p.vorname}} {{p.nachname}}</option>
                    </select>
                    <input name="partnername" type="text" [(ngModel)]="this.selected.partner" (keyup)="onKeyUpPartnerName()">
                    <label for="partnerkind">verheiratet:</label>
                    <input type="checkbox" name="partnerkind" [(ngModel)]="this.selected.married">
                </div>
                <div class="parentsselector">
                    <div class="parents">
                        <div class="fatherselector parent">
                            <label for="fatherSelect">Vater</label>
                            <select name="fatherSelect" [(ngModel)]="this.fatherId">
                                <option value="0">Unbekannt</option>
                                <option *ngFor="let p of this.menList" [value]="p.id" [selected]="this.fatherId== p.id">{{p.vorname}} {{p.nachname}}</option>
                            </select>
                        </div>
                        <div class="motherselector parent">
                            <label for="motherSelect">Mutter</label>
                            <select name="motherSelect" [(ngModel)]="this.motherId">
                                <option value="0">Unbekannt</option>
                                <option *ngFor="let p of this.womanList" [value]="p.id" [selected]="this.motherId== p.id">{{p.vorname}} {{p.nachname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="step-parents">
                        <div class="fatherselector parent">
                            <label for="stepFatherSelect">evtl. Stiefvater</label>
                            <select name="stepFatherSelect" [(ngModel)]="this.stepFatherId">
                                <option value="0">Unbekannt/nicht vorhanden</option>
                                <option *ngFor="let p of this.menList" [value]="p.id" [selected]="this.stepFatherId== p.id">{{p.vorname}} {{p.nachname}}</option>
                            </select>
                        </div>
                        <div class="motherselector parent">
                            <label for="stepMotherSelect">evtl. Stiefmutter</label>
                            <select name="stepMotherSelect" [(ngModel)]="this.stepMotherId">
                                <option value="0">Unbekannt/nicht vorhanden</option>
                                <option *ngFor="let p of this.womanList" [value]="p.id" [selected]="this.stepMotherId== p.id">{{p.vorname}} {{p.nachname}}</option>
                            </select>                            
                        </div>
                    </div>

                </div>



                
                
                
            </div>
            <div class="footer-buttons">
                <input type="submit" value="Speichern">
                <input type="button" value="Abbrechen" (click)="onClickAbortButton()">
            
            </div>
            
        </div>
    </form>
</div>
